.input:focus {
  outline: none;

}

.input {
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  min-height: 36px;
  width: 372px;
  padding: 5px;
}

.inputWrapper {
  display: flex;
  flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
  border: 1px solid #CC1439;
}

.errorInput:focus {
  border: 1px solid #CC1439;
}

.error {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CC1439;
}
